node_modules/
build/
cache/
WarGame/node_modules/
WarGame/build/
WarGame/obj
WarGame/cache/
WarGame/src/app/js/3d-party/
WarGame/npm-debug.log
WarGame/.ntvs_analysis.dat
WarGame/.ntvs_analysis.dat.tmp
*.njsproj