body {
    padding : 0;
    margin: 0;

    width : 100%;
    height: 100%;

    /* prevent text selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.app-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    background: #000000;
}

/* options */

ul.options {
    position: absolute;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);

    min-width: 300px;

    margin: 0;
    padding: 1em;
    padding-bottom: .5em;

    border: 2px solid #555;
    list-style: none;
}

ul.options li {
    text-align: center;
    margin-bottom: .5em;
}

ul.options li a {
    display: block;
    padding: .5em;
}

/* controls */

ul.controls {
    padding: .25em;
    border: 0;
    margin: 0;
    text-align: center;
}

ul.controls li,
ul.controls li a {
    display: inline-block;
}

ul.controls li a {
    padding: .25em;
}

/* items */

a {
    text-decoration: none;
    cursor: pointer;

    color: #fff;
    background-color: #555;
}

ul li a, a.btn {
    display: inline-block;
    padding: .25em;
}

a:hover {
    background-color: #7e7e7e;
}

a[disabled] {
    background: #444;
    color: #7e7e7e;
    cursor: default;
}

/*play-map-container */

.play-map-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    padding: .5em;
}

.play-map-container .info {
    font-family: monospace;
}

.play-map-container .info .player-name,
.play-map-container .info .player-color,
.play-map-container .info .player-armies-number,
.play-map-container .info .player-territories-number {
    font-weight: bold;
    display: inline-block;
}

.play-map-container .info .player-name {
    width: 25ex;
}

.play-map-container .info .player-color {
    width: 10ex;
}

.play-map-container .info .player-armies-number,
.play-map-container .info .player-territories-number {
    width: 6ex;
}

.play-map-container .map-container {

    position: absolute;

    top: 5em;
    left: .5em;
    right: .5em;
    bottom : .5em;
}

.play-map-container .map-container ul.controls li a {
    width: 10em;
}

.play-map-container .map-container .svg-container {
    position: absolute;
    top: 2.5em;
    bottom: 1em;
    width: 100%;
}

.play-map-container .map-container .messages {
    position: absolute;
    bottom: 0;
    height: 1em;
    font-family: monospace;
}

/* goal card dialog */

.play-map-container .goal-card {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    background: rgba(0,0,0,.5);
}

.play-map-container .goal-card .detail {
    position: absolute;

    top: 50%;
    left: 50%;
    width: 25em;

    background: black;
    border: 2px solid #555;
    padding: .5em;

    transform: translate(-50%, -50%);
}

.play-map-container .goal-card .detail label {
    font-weight: bold;
}

.play-map-container .goal-card .detail p {
    margin-bottom: 1em;
}

.play-map-container .goal-card .detail a {
    display: block;
    text-align: center;
}

/* wait for */

.play-map-container .wait {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    background: rgba(0,0,0,.5);
}

.play-map-container .wait .detail {
    position: absolute;

    top: 50%;
    left: 50%;

    border: 2px solid #555;
    padding: .5em;

    font-size: 16pt;
    background: black;

    transform: translate(-50%, -50%);
}

/* attack */

.play-map-container .attack {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    background: rgba(0,0,0,.5);
}

.play-map-container .attack .detail {
    position: absolute;

    top: 50%;
    left: 50%;

    border: 2px solid #555;
    padding: .5em;
    background: black;

    font-family: monospace;
    font-size: 12pt;

    transform: translate(-50%, -50%);
}

.play-map-container .attack .detail input {
    font-family: monospace;
    font-size: 10pt;
    width: 4em;
    text-align: right;
}

.play-map-container .attack .detail label {
    font-weight: bolder;
}

.play-map-container .attack .detail .buttons,
.play-map-container .attack .detail .attack-properties {
    margin-top: 1em;
}

.play-map-container .attack .detail a {
    display: inline-block;
    width: 10em;
    text-align: center;
}

/* attack result dialog */

.play-map-container .attack-result {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    background: rgba(0,0,0,.5);
}

.play-map-container .attack-result .detail {
    position: absolute;

    top: 50%;
    left: 50%;
    width: 25em;

    background: black;
    border: 2px solid #555;
    padding: .5em;

    transform: translate(-50%, -50%);
}

.play-map-container .attack-result .detail label {
    font-weight: bold;
    display: block;
}

.play-map-container .attack-result .detail .attack-dices,
.play-map-container .attack-result .detail .defense-dices {
    margin-bottom: 1em;
}

.play-map-container .attack-result .detail a {
    display: block;
    text-align: center;
}


/* moving */

.play-map-container .moving {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    background: rgba(0,0,0,.5);
}

.play-map-container .moving .detail {
    position: absolute;

    top: 50%;
    left: 50%;

    border: 2px solid #555;
    padding: .5em;
    background: black;

    font-family: monospace;
    font-size: 12pt;

    transform: translate(-50%, -50%);
}

.play-map-container .moving .detail input {
    font-family: monospace;
    font-size: 10pt;
    width: 4em;
    text-align: right;
}

.play-map-container .moving .detail label {
    font-weight: bolder;
}

.play-map-container .moving .detail .buttons,
.play-map-container .moving .detail .moving-properties {
    margin-top: 1em;
}

.play-map-container .moving .detail a {
    display: inline-block;
    width: 10em;
    text-align: center;
}

.play-map-container .game-ended {
    text-align: center;
    padding: .5em;
    color: yellow;
}
